{# empty Twig template #}
{% extends 'base_template.html.twig' %}
{% block title %}Персональный тренер Евгений Надеждин - 404{% endblock  %}
{%block top_menu %}
			
                                <div class="top-menu">
				 	<span class="menu"> </span>
					<ul class="nav navbar-nav">
						<li><a href="/">Главная <span class="sr-only">(current)</span></a></li>
						<li><a href="/about">Обо мне</a></li>
						<li><a href="/training">Тренировки</a></li>
						<li><a href="/gallery">Галерея</a></li>
						<li><a href="/contact">Контакты</a></li>
						<div class="clearfix"> </div>
			  		</ul>
                                </div>
{% endblock %}
{% block content %} 
<div class="error-page">
	<div class="container">
		<div class="error-info">
			<h3>4<span>0</span>4</h3>
			<p>Ой-ой!! Страница не найдена!!</p>
			<p>Вы можете вернутся на главную страницу, по ссылке ниже</p>
			<a class="hvr-rectangle-out button" href="/">ГЛАВНАЯ</a>
		</div>
	</div>
</div>
{% endblock  %}